@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background: white;
  color: #333;
}
/* globals.css 
.eapps-chat-floating-button,
[class*="elfsight-app"] {
  display: none !important;
}*/